<html class="h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{name}}</title>
    <link rel="icon" href="{{fontsUrl}}favicon.svg" />
    <link rel="stylesheet" type="text/css" href="{{fontsUrl}}{{name}}.css" />
    <script defer src="{{fontsUrl}}termicons.js"></script>
  </head>

  <body class="flex flex-col h-full">
    <header class="bg-gray-900 py-12 sm:py-20">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="block md:flex justify-between items-center">
          <div class="max-w-2xl lg:mx-0 mb-4 sm:mb-6 md:mb-0">
            <h2
              class="mb-4 sm:mb-6 text-4xl font-bold tracking-tight text-white sm:text-6xl"
            >
              {{name}}
            </h2>

            <p class="text-lg leading-8 text-gray-300">
              Material style icons built for terminal rendering.
            </p>
          </div>

          <a
            href="{{fontsUrl}}{{name}}.ttf"
            download
            class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            Download

            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="ml-3 -mr-1 h-5 w-5"
              viewBox="0 0 24 24"
              fill="none"
              aria-hidden="true"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
              />
            </svg>
          </a>
        </div>
      </div>
    </header>

    <main class="mx-auto w-full max-w-7xl py-12 px-6 lg:px-8 flex-1">
      <div>
        <label for="search" class="sr-only">
          Search icons
        </label>

        <input
          type="text"
          name="search"
          id="search"
          class="block h-12 text-lg w-full rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
          autoFocus
          placeholder="Search icons..."
        />
      </div>

      <div
        class="grid grid-cols-[repeat(auto-fill,minmax(100px,1fr))] gap-8 mt-12"
      >
        {{#each codepoints}}
          <button
            data-name="{{@key}}"
            data-codepoint="{{this}}"
            class="icon flex flex-col text-slate-600 text-center justify-center items-center gap-2 hover:bg-slate-100 rounded-lg w-24 h-24 active:bg-slate-200 focus:border-indigo-500 focus:ring-indigo-500"
          >
            <span class="font-['termicons'] text-6xl">
              &#{{this}};
            </span>

            <span
              class="text-xs whitespace-nowrap overflow-ellipsis max-w-full overflow-hidden px-2"
              title="{{@key}}"
            >
              {{@key}}
            </span>
          </button>
        {{/each}}
      </div>

      <div
        id="empty-state"
        class="text-center hidden items-center justify-center flex-col"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 96 960 960"
          class="text-slate-500 rounded-full h-60 w-60 bg-slate-100 p-12 mb-12"
        >
          <path
            fill="currentColor"
            d="M140 896q-23 0-41.5-18.5T80 836V316q0-23 18.5-41.5T140 256h281l60 60h339q23 0 41.5 18.5T880 376H455l-60-60H140v520l102-400h698L833 850q-6 24-22 35t-41 11H140Zm63-60h572l84-340H287l-84 340Zm0 0 84-340-84 340Zm-63-460v-60 60Z"
          />
        </svg>

        <p class="text-2xl mb-4">No results found</p>
        <p class="text-slate-800">
          Try adjusting your search to find what you are looking for.
        </p>
      </div>
    </main>

    <footer class="bg-white">
      <div
        class="mx-auto max-w-7xl py-8 px-6 md:flex md:items-end md:justify-between lg:px-8"
      >
        <div class="flex justify-center space-x-4 md:order-2">
          <a
            href="https://github.com/mskelton/termicons.nvim"
            class="text-gray-400 hover:text-gray-500"
          >
            <span class="sr-only">Neovim plugin</span>

            <svg
              aria-hidden="true"
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M4 6.29547L8.13333 2V2.02801L15.8382 14.1281L15.7867 2L19.9717 6.33421L20 17.7262L15.8727 22L8.13333 9.87907V21.9726L4 17.7267V6.29547Z"
              />
            </svg>
          </a>

          <a
            href="https://github.com/mskelton/termicons"
            class="text-gray-400 hover:text-gray-500"
          >
            <span class="sr-only">GitHub</span>

            <svg
              fill="currentColor"
              viewBox="0 0 24 24"
              class="h-6 w-6"
              aria-hidden="true"
            >
              <path
                fillRule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clipRule="evenodd"
              ></path>
            </svg>
          </a>

          <a
            href="https://x.com/mskelton0"
            class="text-gray-400 hover:text-gray-500"
          >
            <span class="sr-only">X (Twitter)</span>

            <svg
              fill="currentColor"
              viewBox="0 0 24 24"
              class="h-6 w-6"
              aria-hidden="true"
            >
              <path
                d="M16.3885 4H18.9953L13.3002 10.7774L20 20H14.7541L10.6454 14.4066L5.94405 20H3.3357L9.42711 12.7508L3 4H8.37904L12.093 9.11262L16.3885 4ZM15.4736 18.3754H16.918L7.59417 5.53928H6.04413L15.4736 18.3754Z"
              />
            </svg>
          </a>
        </div>

        <div class="mt-8 md:order-1 md:mt-0">
          <p class="text-center text-sm leading-5 text-gray-500">
            &copy; 2023
            <a
              class="text-blue-600 hover:underline"
              href="https://mskelton.dev"
            >Mark Skelton</a>. All rights reserved.
          </p>
        </div>
      </div>
    </footer>

    <div
      class="fixed mx-auto bottom-10 left-1/2 w-auto text-slate-50 opacity-0 bg-slate-900 py-2 px-6 rounded-lg transition-opacity shadow translate-x-[-50%]"
      id="notification"
    >
      Copied
      <span id="notification-text" class="font-bold"></span>
      to the clipboard
    </div>
  </body>
</html>